{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}
{% block body %}
    <h1>Nouveau mot de passe</h1>
    <hr>
    {{ form(formila) }}
    <br> <br> <br> <br>
    <a href="{{ path('directeur') }}" class="btn btn-dark">Retour</a>
{% endblock %}