{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Historique De Présence</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Heure d'arrivee</th>
            <th scope="col">Heure de sortie</th>
        </tr>
        </thead>
        <tbody>
        {% for Presence in Presence %}
            <tr>
                <td>{{ Presence.date.format('Y-m-d')}}</td>
                <td>{{ Presence.HeureIn.format('h:m')}}</td>
                <td>{{ Presence.HeureOut.format('h:m')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('directeur_general')}}" class="btn btn-dark"> retour a la page  d'acceuil </a>
{% endblock %}