{% extends 'base.html.twig' %}

{% block title %}Modifier un employé!{% endblock %}
{% block body %}
    <h1>Modifier un Eemployé</h1>
    {{ form(formila) }}
    <br>
    <a href="{{ path('rh_lister_employe') }}" class="btn btn-dark">
        Retour
    </a>
{% endblock %}