{% extends 'base.html.twig' %}

{% block title %}Modifier un employé!{% endblock %}
{% block body %}
    <h1>MODIFICATION EMPLOYE</h1>
    {{ form(formila) }}
    <a href="{{ path('rh_lister_employe') }}" class="btn btn-primary">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Retour
    </a>
{% endblock %}