{% extends 'base.html.twig' %}

{% block title %}Hello RhController!{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('rh_ajouter_employe') }}">Ajouter un employé</a>
        </li>
        <li>
            <a href="{{ path('rh_ajouter_poste') }}">Ajouter un Poste</a>
        </li>
        <li>
            <a href="{{ path('rh_lister_employe') }}">Afficher la liste des employés </a>
        </li>
    </ul>

{% endblock %}
