{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <hr>
    <h1> Tous les bulletins de paie ont été calculés avec succès </h1>
    <hr>
    <a href="{{ path('comptable')}}" class="btn btn-dark"> retour a la page  d'acceuil </a>
{% endblock %}