{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .color-99CC5B{background-color:#00008B;}
        .color-99CC5B:hover{background-color:#00008B; }
        body {
            background-image: url('{{asset('/images/back.png')}}');
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            background-color: white;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block title %}{% endblock %}

{% block body %}
    <br>
    <br>
    <hr style="color: #5c70d6">
    <h1 style="color:#40A497"><strong><i>Tous les bulletins de paie ont été calculés avec succès </i></strong></h1>
    <hr>
    <br>
    <br>
    <a href="{{ path('comptable',{date:rochdi})}}" class="btn btn-dark color-99CC5B"> Retour </a>
{% endblock %}