{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1> Tous les bulletins de paie ont été calculés avec succès </h1>


    <a href="{{ path('comptable')}}" class="btn btn-primary"> retour a la page  d'acceuil </a>
{% endblock %}