{% extends 'base.html.twig' %}

{% block title %}Mon historique de présence{% endblock %}

{% block body %}
    <h1 style="color:#40A497"><strong><i>Mon historique de présence</i></strong></h1>
    <hr style="color: #AB99BD">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Heure d'arrivee</th>
            <th scope="col">Heure de sortie</th>
        </tr>
        </thead>
        <tbody>
        {% for Presence in Presence %}
            <tr>
                <td>{{ Presence.date.format('Y-m-d')}}</td>
                <td>{{ Presence.HeureIn.format('h:m')}}</td>
                <td>{{ Presence.HeureOut.format('h:m')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comptable')}}" class="btn btn-dark">Retour</a>
{% endblock %}